.container {
	position: relative;
	width: 100%;
}

.col{
	margin: auto;
}
/*#containerIntro {
    position: absolute;
    transform: translate(-30%, -40%);
    background: var(--accent_color);
    border-radius: 100%;
    max-width: 250px;
    top: 50%;
    right: 15%;
    width: 100%;
    height: auto;
}*/

#containerIntro {
	margin: auto;
	border-radius: 100%;
	position: relative;
	width: 25%;
	margin-top: 5em;
	margin-bottom: 5em;
}

#intro {
	height: 100vh;
}

#intro .row{
	height: 100%;
}

#mainIcon{
	width: 30%;
	min-width: 150px;

}

#particles-js{
	height: 100vh;
}
/*
#mainIcon {
	width: 100%;
}

#premiereIcon,
#illustratorIcon,
#photoshopIcon,
#aftereffectsIcon,
#indesignIcon,
#javaIcon,
#htmlIcon,
#cssIcon,
#cplusIcon,
#cIcon {
	position: absolute;
	transform: translate(-50%, -50%);
	width: 20%;
	transition: 0.5s;
	animation-timing-function: ease-out;
}

#premiereIcon:hover,
#illustratorIcon:hover,
#photoshopIcon:hover,
#aftereffectsIcon:hover,
#indesignIcon:hover,
#javaIcon:hover,
#htmlIcon:hover,
#cssIcon:hover,
#cplusIcon:hover,
#cIcon:hover {
	width: 25%;
}

#illustratorIcon {
	left: -15%;
	top: -25%;
}

#photoshopIcon {
	left: -40%;
	top: 10%;
}

#premiereIcon {
	left: -50%;
	top: 50%;
}

#aftereffectsIcon {
	left: -40%;
	top: 90%;
}

#indesignIcon {
	left: -15%;
	top: 125%;
}

#htmlIcon {
	left: 115%;
	top: -25%;
}

#cssIcon {
	left: 140%;
	top: 10%;
}

#cplusIcon {
	left: 150%;
	top: 50%;
}

#cIcon {
	left: 140%;
	top: 90%;
}

#javaIcon {
	left: 115%;
	top: 125%;
}*/



@media only screen and (max-width: 1200px) {
	.col {
		flex-basis: 100%;
	}
	
	#skills .col{
		flex-basis: 20%;
	}
}
