.column img {
    width: 100%;
}

.row .column {
	margin-right: 10px;
}

.row .column.lastCol {
	margin-right:0;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 150;
    padding-top: 50px;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--accent_color);
    background-color: rgb(0, 0, 0, 0.8);
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    top:50%;
    transform: translate(0, -50%);
}

.modal-content-fill img{
	max-height: 80vh;
	max-width: 80%;
}

.modalDescription{
	background-color: rgb(0, 0, 0, 0.8);
	padding: 1em 2em;
	color: white;
}

.modalBottomText{
	color: white;
	position: absolute;
	left: 10%;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
    width: 100%;
}

.mySlides img {
    margin: auto;
    display: block;
}

.wideSlide img{
    max-width: 80%;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 1rem 1rem;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: white;
    font-weight: bolder;
    user-select: none;
    -webkit-user-select: none;
    background: var(--main_color);
    border-radius: 15%;
    transition: 0.2s;
    z-index: 100;
    margin: 1rem;
}

/* Position the "next button" to the right */
.next {
    right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background: var(--accent_color);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: var(--accent_color);
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.modal img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}