@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700,800,900|Open+Sans+Condensed:300,700|Open+Sans:400,600,700,800&display=swap');

:root {
	--bg_color: #FFFFFF;
	--main_color: #726DA8;
	--accent_color: #595491;
	--gray_color: #C4C4C4;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--bg_color);
	padding: 0;
	font-family: 'Heebo', sans-serif;
	overflow-x: hidden;
	color: #3E3E3E;
	margin: auto;
	max-width: 2000px;
	padding-right: 5px;
}

.mainBody {
	width: 80%;
	margin: auto;
}

section {
	margin-bottom: 60px;
}

.mainBody {
	margin-top: 7em;
}

.halfBody {
	width: 75%;
	margin: auto;
}

img {
	/*	width: 100%;*/
}

.banner img {
	width: 100%;
	object-fit: cover;
	object-position: 100%;
}


/** Grid **/

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1em 0;
}

.col {
	margin-right: 2em;
	flex-grow: 1;
	flex-basis: 20%;
}

.col2 {
	flex-basis: 40%;
	flex-grow: 3;
}

.lastCol {
	margin-right: 0;
}

@media only screen and (max-width: 769px) {
	.centerText {
		width: 90%;
		margin: auto;
	}

	.halfBody {
		width: 90%;
		margin: auto;
	}
}

@media only screen and (max-width: 481px) {
	.col .colclear {
		flex-basis: 100%;
		margin: .5em 0;
	}

}

/** Side Nav **/

#mainNav {
	width: 80%;
	margin: auto;
	top: 0;
	background-color: white;
	padding-top: 1em;
	font-family: 'Open Sans', sans-serif;
	z-index: 150;
	transition: .5s;
	letter-spacing: .2em;
	font-weight: bolder;
	text-transform: uppercase;
}

#navPages {
	float: right;
}

.mainNav {
	margin-right: 2em;
}


/*
.mainNav {
	position: fixed;
	top: 0;
	background-color: white;
	padding-top: 1em;
	font-family: 'Open Sans', sans-serif;
	z-index: 150;
}

.mainNav a {
	display: inline-block;
	padding: 0.5em;
	margin: 0 1em;
}

.mainNav .lastCol{
	margin-right: 0;
}

.mainNav {
	width: 90%;
	transition: .5s;
	letter-spacing: .2em;
	font-weight: bolder;
	text-transform: uppercase;
}

#navPages {
	float: right;
}

#navTitle {
	margin: 0;
	margin-left: 11%;
}
*/


/*
.sideNav {
	overflow-x: hidden;
	height: 100%;
	background-color: var(--accent_color);
	position: fixed;
	right: 0;
	transition: 0.5s ease-in-out;
	width: 0;
	box-shadow: -.5em 0px 1em rgb(0, 0, 0, 0.3);
}

.sideNav a {
	display: block;
	padding: 2em;
	text-align: center;
	z-index: 10;
}

.sideNav a:hover {
	background-color: var(--bg_color);
}

#openNav,
#closeNav {
	text-align: right;
}

#openNav {
	z-index: -1;
	width: 100%;
}

#closeNav {
	width: 100%;
}

i {

	box-sizing: border-box;
	font-size: 1.5em;
	padding: 0.5em;
	cursor: pointer;
	color: white;
}
*/

/** Footer **/

.footer {
	padding-top: 1em;
	height: 100%;
	margin-top: 2em;
}

.footer a {
	padding: 0 1em;
}

/** Typography **/

h1 {
	font-size: 1.75em;
	font-weight: 800;
	margin: 0.25em 0;
	text-transform: uppercase;
	letter-spacing: .15em;
}

h2 {
	color: var(--main_color);
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 0.25em;
	font-weight: bolder;
	margin: 0.25em 0;
}

h3 {
	margin: 0.25em 0;
	text-transform: uppercase;
	letter-spacing: .15em;
}

h4 {
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-weight: 800;
}

h5 {
	padding: 0;
	margin: 1em 0;
	color: white;
	letter-spacing: .05em;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Open Sans', sans-serif;
}



a {
	text-decoration: none;
	cursor: pointer;
	color: var(--main_color);
	transition: 0.5s;
}

a:hover {
	opacity: 0.5;
}

.label {
	color: var(--main_color);
}

strong {
	color: var(--main_color);
}

/** Button **/

.catSec,
.catButton {
	letter-spacing: 0.15em;
	font-size: .8em;
	transition: 0.2s;
}

.catButton {
	padding: 1em 2em;
	text-transform: uppercase;
	cursor: pointer;
	margin: 1em 0;
	font-weight: bold;
	background: none;
	border: none;
	color: var(--gray_color);
	font-weight: 600;
}

.catButton.active {
	color: var(--main_color);
	transition: 0.2s;
}

.defaultButton {
	padding: 1em 2em;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0.5em;
	border: none;
	cursor: pointer;
	margin: 1em 0;
	background-color: var(--main_color);
	color: white;
	display: inline-block;
}


.defaultButton:hover {
	background-color: var(--accent_color);
	color: white;
}

/** Container **/

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

.centerText {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.bottomLeftText {
	position: absolute;
	bottom: 0;
	max-width: 500px;
	left: 10%;
}

.centerLeftText {
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
	left: 0%;
}

.blackLeftText {
	position: absolute;
	transform: translate(0, -50%);
	top: 60%;
	left: -10%;
	padding: 1.5em 3em 1.5em 3em;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.blackRightText {
	position: absolute;
	transform: translate(0, -50%);
	top: 60%;
	right: -10%;
	padding: 1.5em 3em 1.5em 3em;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.blackCenterText {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	padding: 1.5em 6em 1.5em 6em;
	padding: 1.5em 8% 1.5em 8%;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	width: 80%;
}

.blackLeftText a,
.blackRightText a,
.blackCenterText a {
	color: white;
	font-weight: bolder;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.generalMargin {
	margin: 1em 0;
}

.generalPadding {
	padding: 1em;
}

/** Parallax **/

#mainBanner {
	background-image: url("http://www.lazytweet.com/wp-content/uploads/sp/space-with-stars-background-galaxy-and-vector.jpg");
}

#skills {
	/*	background-image: url("http://www.lazytweet.com/wp-content/uploads/sp/space-with-stars-background-galaxy-and-vector.jpg");*/
}

.parallax {
	padding: 1em 0;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallaxFull {
	min-height: 90vh;
	padding: 1em 0;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.icon {
	width: 70%;
	margin: auto;
}

.separator {
	border-top: 2px solid white;
	padding-top: 1em;
	width: 70%;
	margin: auto;
}

#projects img {
	height: 80vh;
	min-height: 500px;
}

em {
	font-style: normal;
	font-weight: bolder;
}

.hidden {
	display: none;
}

/** video **/

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

video {
	width: 100%;
	height: 100%;
}

.backProjects {
	color: var(--accent_color);
	margin: 4em 0;
}

/** mobile **/


@media only screen and (max-width: 768px) {

	.row {
        flex-wrap: wrap;
	}

	.col {
        flex-basis: 100%;
		width: 100% !important;
		margin: 0 0 5px 0 !important;
	}

	.right {
		text-align: center;
	}

	.indiv_banner img {
		height: 550px !important;
	}

	.blackCenterText {
		width: 100%;
		display: block;
	}
}