.mainBody{
	margin-top: 100px;
}

.color {
	width: 4em;
	height: 5em;
	border-radius: 100%;
}

.col {
	padding: 1em;
	border-radius: 0.5em;
	background-color: var(--accent_color);
	color: white;
	text-align: center;
	font-weight: bolder;
	text-transform: uppercase;
	height: 100px;
}

#colors input[type="radio"]:checked {
	box-shadow: 0 0 0 3px orange;
}

#colors,
#typography,
#grids,
#buttons,
#containers,
#styling {
	display: none;
}

#colorsBody,
#typographyBody,
#gridsBody,
#buttonsBody,
#containersBody,
#stylingBody {
	max-height: 0;
	overflow-y: hidden;
	transition: max-height .8s ease-in-out;
}

#colors:checked ~ #colorsBody {
	max-height: 2000px;
	width: 100%;
}

#typography:checked ~ #typographyBody {
	max-height: 2000px;
	width: 100%;
}

#grids:checked ~ #gridsBody {
	max-height: 2000px;
	width: 100%;
}

#buttons:checked ~ #buttonsBody {
	max-height: 2000px;
	width: 100%;
}

#containers:checked ~ #containersBody {
	max-height: 2000px;
	width: 100%;
}

#styling:checked ~ #stylingBody {
	max-height: 2000px;
	width: 100%;
}

#nav {
	margin: 3em 0;
	width: 100%;
	text-align: center;
}

#nav label {
	display: inline-block;
	margin: 0.25em 0;
}

#nav label a {
	display: block;
	padding: 1em;
	box-sizing: border-box;
	background-color: var(--main_color);
	color: white;
	border-radius: 1em;
}

#nav label a:hover {
	background-color: var(--light_color);
}

#colorBlock1,
#colorBlock2,
#colorBlock3,
#colorBlock4,
#colorBlock5 {
	display: inline-block;
	box-sizing: border-box;
	padding: 2em 0;
	text-align: center;
	padding: 2em;
	margin: 1em;
	border: 1px solid white;
	float: left;
	font-weight: bold;
}

#colorBlock1 {
	background-color: var(--bg_color);
}

#colorBlock2 {
	background-color: var(--main_color);
}

#colorBlock3 {
	background-color: var(--light_color);
}

#colorBlock4 {
	background-color: var(--accent_color);
}

#colorBlock5 {
	color: gray;
	background-color: white;
}

.container {
	background-color: var(--accent_color);
	height: 250px;
	border-radius: 0.5em;
}

.subsection {
	width: 100%;
	border-bottom: 3px var(--accent_color) solid;
	margin-bottom: 2em;
	padding-bottom: 2em;
}